.contact {
    display: flex;
    align-items: center;
    height: 70px;

    padding: 0.5px;
    border: 1px solid black;
    border-radius: 4px;
}

.contactDetails {
    margin: 2px 0 8px 0;
}

.btn {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
}

.icon {
    margin-left: 8px;
    margin-right: 8px;
}